$heading-font-family: "Kisba Nova Headline", "Garamond", "Times New Roman", serif
$body-font-family: "Alegreya", "Garamond", "Times New Roman", serif

$header-background: rgba(241,80,96,0.2)
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none
$header-logo-height: 78px 

$color-accent: #ff48b0
$color-text-alt: rgba(241,80,96,0.7)

$link-color: $color-text-alt !default