$heading-font-family: "Kisba Nova Headline", "Garamond", "Times New Roman", serif
$body-font-family: "Alegreya", "Garamond", "Times New Roman", serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none
$header-logo-height: 78px 

$color-accent: #ff48b0

$link-color: #ff48b0