.page__home .hero
    background-image: url('/assets/images/hero_background.svg')
    background-size: cover
    color: #ffffff
    min-height: 300px

    .content
        padding-top: 1rem

        .hero-text
            text-align: center
            margin: auto

// h2 titles
.hero-text > .has-lead > p, .project-description > hgroup > p
    font-family: $body-font-family