// HOME PAGE HERO - Styling of this particular hero
.page__home .hero
    background-image: url('/assets/images/hero_background.svg')
    background-size: cover
    color: #ffffff
    min-height: 300px

    .content
        padding-top: 1rem

        .hero-text
            text-align: center
            margin: auto

// PICTURES / MEDIA - Adding Box shadow
.block-gallery figure picture
    box-shadow: $media-box-shadow

.hero .content figure picture
    box-shadow: $media-box-shadow

.block-project .grid .media picture
    box-shadow: $media-box-shadow

//hero subtitles - bold -> normal
.hero .content h1 > span
    font-weight: normal    