.page__home .hero
    background-image: url('/assets/images/hero_background.svg')
    background-size: cover
    color: #ffffff
    min-height: 300px

    .content
        padding-top: 1rem

        .hero-text
            text-align: center
            margin: auto